<html>
    <head>
        <title>The Firekeeper Foundation</title>
    </head>
    <body>
        <header>class="navbar navbar-fixed-top navbar-inverse"
            <div class="container">
                <nav>
                    <ul class="nav navbar-nav pull-right">
                        <li><%= link_to "Info", '#' %></li>
                    </ul>
                </nav>
            </div>
        </header>
    </body>
</html>