<center><h2 class=info_header>Information</h2></center>

<table>
    <td>
        <%= image_tag("Taurus_Demon.png", alt:"Taurus_Demon", width:558, height:354.4) %>
    </td>
    <td height="100">
        <body class="info_body">
            The Firekeeper Foundation is Lordran's oldest and most respected charity which raises awareness about the plight of our firekeepers. Once, firekeepers were
            respected individuals amongst Lordran's elite. Everyone knew of thier noble job; keeping the bonfires burning strong and holding our sacrificed fuel to make sure
            all adventurers have a full estus and a bright outlook every time they stopped by a bonfire. Nowadays, however, the firekeepers are lonely and sad individuals whom were hunted down for
            precious resources. The Firekeeper Foundation looks to put an end to unfair firekeeper treatment and to do that we have organized an annual "Race for the Flames" fun run through
            scenic Undeadburg up to the mighty Taurus Demon's perch. Join us this year on our exciting tour of one of Lordran's most famous cities and help a good cause along the way!
        </body>
    </td>
</table>