<div class="container">
    <div class="row marking">
        <div class="col-lg-6">
            <h2>Returning Users</h2>
            <table align="center">
                <tr>
                    <td>Email: &nbsp</td>
                    <td><input type="text" name="email" value=""></td>
                </tr>
                <tr>
                    <td>Password: &nbsp</td>
                    <td><input type="text" name="password" value=""></td>
                </tr>
            </table>
            <br/>
            <p><input type="submit" name="Sign up" value="Log In"></p>
        </div>
        <div class="col-lg-6">
            <h2>New Users</h2>
            <table align="center">
                <tr>
                    <td>Name: &nbsp</td>
                    <td><input type="text" name="name" value=""></td>
                </tr>
                <tr>
                    <td>Email: &nbsp</td>
                    <td><input type="text" name="email" value=""></td>
                </tr>
                <tr>
                    <td>Password: &nbsp</td>
                    <td><input type="text" name="password" value=""></td>
                </tr>
            </table>  
            <input type="checkbox" name="email-reminder"><body>&nbsp Want email reminders?</body>
            <br/>
            <br/>
            <p><input type="submit" name="Sign up" value="Sign up!"></p>
        </div>
    </div>
</div>

