<center><h1>New Users</h1>



<p>Name: &nbsp<input type="text" name="name" value=""></p>
<p>Email: &nbsp<input type="text" name="email" value=""></p>
<p>Password: &nbsp<input type="text" name="password" value=""></p>
<p><input type="submit" name="Sign up" value="Sign up!"></p>


</center>

