<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        <br />
      </h1>
      <p>This is Where We Will Run</p>
      <center><%= image_tag("RunMap05.png", alt:"Map of the Run", :class => "map") %></center>
    </section>
  </aside>
</div>