<link rel="stylesheet.css" type="text/css" charset="utf-8" />
<footer class="site-footer">
    <ul>
      <li><%= link_to "References",   references_path %></li>
      <li><%= link_to "Contact Us",   contacts_path %></li>
    </ul>
</footer>